/* =========================
   Functions
   =========================*/
.ps, .menu-btn i:before, .menu-btn i:after {
  content: "";
  display: block;
  position: absolute;
  top: 0; }

.transDef, .menu ul li > a, .btn-menu i {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out; }

.circ {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  1% {
    opacity: 0;
    display: block !important; }
  100% {
    opacity: 1;
    display: block !important; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  99% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  1% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 1;
    display: block; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  99% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  min-width: 375px;
  width: 100%;
  height: 100%;
  text-align: center; }

body {
  background: #f0f4f8;
  background-image: -moz-linear-gradient(90deg, #dde5f0 0%, #eef2f8 33%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #dde5f0 0%, #eef2f8 33%, white 100%);
  background-image: -ms-linear-gradient(90deg, #dde5f0 0%, #eef2f8 33%, white 100%); }

.main {
  margin: 0 auto;
  min-height: 100%;
  text-align: left; }

.socket {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: auto; }
  @media (max-width: 1550px) {
    .socket {
      width: 1220px; } }
  @media (max-width: 1280px) {
    .socket {
      width: 1024px; } }
  @media (max-width: 1024px) {
    .socket {
      width: auto;
      margin: 0 50px; } }
  @media (max-width: 767px) {
    .socket {
      margin: 0 20px; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.tbl {
  display: table;
  width: 100%; }
  .tbl .cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* =========================
   Header
   ========================= */
#header {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: auto;
  padding-top: 51px;
  position: relative;
  height: 128px;
  text-align: center; }
  @media (max-width: 1550px) {
    #header {
      width: 1220px; } }
  @media (max-width: 1280px) {
    #header {
      width: 1024px; } }
  @media (max-width: 1024px) {
    #header {
      width: auto;
      margin: 0 50px; } }
  @media (max-width: 767px) {
    #header {
      margin: 0 20px; } }
  #header .logo {
    position: absolute;
    left: 88px;
    top: 25px; }

.menu-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 69px;
  height: 60px;
  display: block;
  cursor: pointer; }
  @media (max-width: 767px) {
    .menu-btn {
      display: block; } }
  .menu-btn i {
    top: 27px;
    left: 50%;
    margin-left: -10px; }
  .menu-btn i, .menu-btn i:before, .menu-btn i:after {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    display: block;
    position: absolute;
    width: 21px;
    height: 3px;
    background: #000; }
  .menu-btn i:before, .menu-btn i:after {
    left: 0;
    top: -7px; }
  .menu-btn i:after {
    top: 7px; }
  .menu-btn.open {
    background-color: blue; }

.menu {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  padding-left: 12%;
  top: 50px;
  left: 0;
  right: 0;
  height: 77px;
  background-color: #fff;
  -webkit-box-shadow: 0px 22px 40.42px 2.58px rgba(143, 159, 174, 0.17);
  box-shadow: 0px 22px 40.42px 2.58px rgba(143, 159, 174, 0.17); }
  @media (max-width: 1550px) {
    .menu {
      padding-left: 15%; } }
  .menu ul {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    padding: 33px 7% 0;
    font-size: 0; }
    .menu ul li {
      display: inline-block; }
      .menu ul li > a {
        display: block;
        line-height: 16px;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.7px;
        font-family: "FiraSans-Medium";
        color: #364e6e;
        border-bottom: 1px solid #fff; }
        .no-touchevents .menu ul li > a:hover {
          border-bottom: 2px solid #364e6e; }
      .menu ul li.active > a {
        border-bottom: 2px solid #fff; }
        .menu ul li.active > a:hover {
          text-decoration: none; }

@media (max-width: 1024px) and (max-height: 1200px) {
  #header {
    height: 118px;
    padding-top: 40px; }
    #header .logo {
      left: 40px; }
  .menu {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    top: 40px;
    padding-left: 0;
    height: auto; }
    .menu ul {
      display: block;
      padding: 0;
      left: 0;
      right: 0;
      padding-top: 77px;
      max-height: 0;
      overflow: hidden; }
      .menu ul li {
        display: block;
        border-top: 1px solid #ebedf0; }
        .menu ul li > a {
          display: block;
          height: 78px;
          border-bottom: none;
          line-height: 78px;
          font-size: 16px;
          color: #728399; }
    .menu-open .menu ul {
      max-height: 550px; } }

.btn-menu {
  position: absolute;
  top: 28px;
  right: 40px;
  width: 21px;
  height: 18px;
  background: none;
  display: none; }
  @media (max-width: 1024px) and (max-height: 1200px) {
    .btn-menu {
      display: block; } }
  .btn-menu i {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #364e6e; }
    .btn-menu i:nth-child(2) {
      top: 8px; }
    .btn-menu i:nth-child(3) {
      top: 16px; }

.menu-open #header {
  z-index: 999; }

.menu-open .btn-menu i:nth-child(2) {
  opacity: 0; }

.menu-open .btn-menu i:nth-child(1) {
  animation: to-cross-left 0.5s linear forwards;
  -ms-animation: to-cross-left 0.5s linear forwards;
  -webkit-animation: to-cross-left 0.5s linear forwards; }

.menu-open .btn-menu i:nth-child(3) {
  animation: to-cross-right 0.5s linear forwards;
  -ms-animation: to-cross-right 0.5s linear forwards;
  -webkit-animation: to-cross-right 0.5s linear forwards; }

.menu-close .btn-menu i:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1; }

.menu-close .btn-menu i:nth-child(1) {
  animation: from-cross-left 0.5s linear forwards;
  -ms-animation: from-cross-left 0.5s linear forwards;
  -webkit-animation: from-cross-left 0.5s linear forwards; }

.menu-close .btn-menu i:nth-child(3) {
  animation: from-cross-right 0.5s linear forwards;
  -ms-animation: from-cross-right 0.5s linear forwards;
  -webkit-animation: from-cross-right 0.5s linear forwards; }

@keyframes to-cross-left {
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 8px; }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px; } }

@keyframes to-cross-right {
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 8px; }
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px; } }

@keyframes from-cross-left {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px; }
  30% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 8px; }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 0; } }

@keyframes from-cross-right {
  0% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px; }
  30% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 8px; }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 16px; } }

/* =========================
   Content
   ========================= */
#content {
  position: relative;
  height: calc( 100vh - 128px); }
  @media (max-width: 1024px) and (max-height: 1200px) {
    #content {
      height: calc( 100vh - 118px); } }

/*# sourceMappingURL=template_styles.css.map */