
/* --------------------
    Advantages
    ------------------- */  

.page-adv {

	.figures {
		left: 0;
		right: auto;
		top: 30px;
		
		li {
			@include transform(translateX(-110px));
		}

		li:nth-child(1) {
			left: -15px;
			top: 0;
		}

		li:nth-child(2) {
			left: -7px;
			top: 42px;
		}

		li:nth-child(3) {
			left: 25px;
			top: 68px;
		}

		li:nth-child(4) {
			left: 35px;
			top: 23px;
		}

		li:nth-child(5) {
			left: 78px;
			top: 80px;
		}

		li:nth-child(6) {
			left: 20px;
			top: 120px;
		}

		li:nth-child(6) {
			left: 15px;
			top: 115px;
		}

		li:nth-child(7) {
			left: 70px;
			top: -10px;
		}
	}
}

.loaded.page-adv .figures li {
	@include transform(translateX(0));
}

.object-scheme-wrap {
	 @include Center;
	 @include trans(0.5s);
	 opacity: 0;

	 .loaded & {
	 	opacity: 1;
	 }
}

.object-scheme-block {
	width: 60%;
	z-index: 900;
}

.to-right, .to-left,
.left-column, .right-column {
	position: relative;
	float: right;
	height: 100%;

	@include mobile {
		float: none !important;
		width: auto !important;
	}
}

.to-left, .left-column {
	float: left;
}


// Points
.points {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
}

.point {
	position: absolute;

}

.point-btn {
	@include transition(color, 0.1s, linear);
	position: absolute;
	width: 66px;
	height: 48px; 
	cursor: pointer;
	text-align: center;
	font-family: $fontMed;
	line-height: 48px;
	font-size: 10px;
	
	&:after {
		@extend .ps;
		@include border-rad(30px);
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: #fff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
	}
	
	.active:not(.plus) > & {
		color: #fff;

		&:after {
            background-image: linear-gradient( -180deg, rgba(135,181,225,0.5) 0%, rgba(135,181,225,0.5) 19%, rgb(135,181,225) 100%);
		}
	}
}

.point-btn.plus {
	background-color: #fff;

	&:after {
		display: none;
	}

	i {
		@include transition(all, 0.35s, linear);
		@include origin(50%, 50%);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;

		&:before, &:after {
			@extend .ps;
			@extend .transDef;
			background-color: $textCol;
		}

		&:before {
			top: 4px;
			width: 10px;
			height: 2px;
		}

		&:after {
			left: 4px;
			width: 2px;
			height: 10px;
		}
	}
}

.point-name {
	position: absolute;
	height: 55px;

	.point-ico {
		width: 60px;
		height: 55px;

		img {
			@include transition(all, 0.8s, ease-out);
			@extend .sm;
			position: absolute;
		}
	}

	span {
		position: absolute;
		display: block;
		top: 0;
		left: 60px;
		line-height: 57px;
		font-size: 10px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		white-space: nowrap;
		font-family: $fontMed;
	}
}

.point-line {
	
	span {
		position: absolute;
		display: block;
		border: 2px solid rgba(0,0,0,0.07);
	}
}

.point-name, .point-line {
	@include transition(all, 0.7s, linear);
	opacity: 0;
	
	.active & {
		opacity: 1;
	}
}


@include ie10 {
	.point-name, .point-line {
		display: none;
		
		.active & {
			display: block;
		}
	}
}

@supports (-ms-ime-align:auto) {
	.point-name, .point-line {
		display: none;
		
		.active & {
			display: block;
		}
	}
}



.no-touchevents  {

	.point-btn {
		@extend .ps;

		&:after {
			@include transition(all, 0.4s, $easing);
		}

		&:not(.plus):hover:after {
			@include transform(scaleX(1.25) scaleY(1.15));
		}
	}
	
	.active.point .point-btn:hover:after {
		@include transform(scaleX(1) scaleY(1));
	}
}

.page-adv {

	.point .point-ico img {
		@include delay(0.45s);
	}

	.point:nth-child(1) .point-ico {
		
		img {
			@include transform(translateX(-50%) translateY(-50%) scaleX(0.8));
			left: 50%;
			top: 50%;
		}
	}

	.active.point:nth-child(1), .active.point:nth-child(3) {
		.point-ico img {
			@include transform(translateX(-50%) translateY(-50%) scaleX(1));
		}
	}

	.point:nth-child(3) .point-ico {
		
		img {
			@include transform(translateX(-50%) translateY(-50%) scaleX(0.8));
			left: 50%;
			top: 50%;
		}
	}

	.point:nth-child(4) .point-ico {
		
		img {
			left: 50%;
			top: 0;

			&:nth-child(1) {
				@include transform(translateX(-50%) translateY(7px));
				z-index: 2;
			}

			&:nth-child(2) {
				@include transform(translateX(-50%) translateY(21px));
				z-index: 1;
			}

			&:nth-child(3) {
				@include transform(translateX(-50%) translateY(35px));
			}
		}
	}

	.active.point:nth-child(4) .point-ico img {
		
		&:nth-child(1) {
			@include transform(translateX(-50%) translateY(13px));
		}

		&:nth-child(2) {
			@include transform(translateX(-50%) translateY(21px));
		}

		&:nth-child(3) {
			@include transform(translateX(-50%) translateY(28px));
		}
	}

	.point:nth-child(5) .point-ico {
		
		img {
			@include transform(translateY(-50%) scaleX(0.8));
			@include origin(center,center);
			top: 50%;
			left: -10px;

			@include tablet {
				left: 0;
			}
		}
	}

	.active.point:nth-child(5) {
		.point-ico img {
			@include transform(translateY(-50%) scaleX(1));
		}
	}

	.point:nth-child(2) .point-ico {
		
		img {
			top: 0;

			&:nth-child(1) {
				left: 12px;
			}

			&:nth-child(2) {
				@include transform(translateY(-17px));
				@include delay(0.2s);
				left: 45px;
			}
		}
	}

	.active.point:nth-child(2) .point-ico img {

		&:nth-child(2) {
			@include transform(translateY(-4px));
		}
	}
}


.object-scheme-wrap {

	.point:nth-child(1) { // POINT 1
		top: 222px;
		left: 345px;

		.point-name {
			left: -151px;
			top: -108px;
		}

		.point-line {

			span {
				@include transform(skewY(18deg));
				width: 115px;
				height: 28px;
				left: -123px;
				top: -25px;
				border-right: none;
				border-top: none;
			}
		}
	}

	.point:nth-child(2) { // POINT 2
		top: 307px;
		left: 525px;

		.point-name {
			left: 145px;
			top: -52px;
		}

		.point-line {

			span {
				@include transform(skewX(-25deg));
				width: 100px;
				height: 28px;
				left: 87px;
				top: -3px;
				border-left: none;
				border-top: none;
			}
		}

		.point-ico {
			@include transform(translateX(-10px));

			img {
				top: 0;

				&:nth-child(1) {
					left: 12px;
				}

				&:nth-child(2) {
					@include transform(translateY(-17px));
					@include delay(0.2s);
					left: 45px;
				}
			}
		}
	}


	.point:nth-child(3) { // POINT 3
		top: 418px;
		left: 236px;

		.point-name {
			left: -164px;
			top: 100px;
		}

		.point-line {

			span {
				@include transform(skewX(-25deg));
				width: 35px;
				height: 70px;
				left: -20px;
				top: 58px;
				border-left: none;
				border-top: none;
			}
		}
	}

	
	.point:nth-child(4) { // POINT 4
		top: 458px;
		left: 465px;

		.point-name {
			left: 181px;
			top: -77px;
		}

		.point-line {

			span {
				@include transform(skewX(-25deg));
				width: 100px;
				height: 50px;
				left: 89px;
				top: -24px;
				border-left: none;
				border-top: none;
			}
		}

		
	}

	.point:nth-child(5) { // POINT 5
		top: 578px;
		left: 404px;

		.point-name {
			left: 174px;
			top: -54px;
		}

		.point-line {

			span {
				@include transform(skewX(-25deg));
				width: 115px;
				height: 25px;
				left: 85px;
				top: 0px;
				border-left: none;
				border-top: none;
			}
		}
	}
}

// Scheme
.scheme-desc-wrap {
	width: 40%;
	float: left;
	z-index: 990;
}

.scheme-desc {

	.title-1 {
		line-height: 47px;
	}
	
	.title-1, p {
		@include animation(textAnimateOut, 0.3s, ease-out);
		opacity: 0;
		transform: translateY(10px);
	}

	p {
		@include a-delay(0.2s);
	}

	&.active {	

		.title-1, p {
			@include animation(textAnimate, 0.4s, ease-out);
		}
	}	

	@include ie10 {

		.title-1, p {
			opacity: 1;
			transform: translateY(0px);
		}

		&.active {	

			.title-1, p {
				animation: none;
				-ms-animation: none;
				-webkit-animation: none;
			}
		}	
	}
}

.tab-pane:not(.feedback-column) {
	@include animation(fadeOut, 0.3s, linear);
	display: none;

	&.active {
		@include animation(fadeIn, 0.3s, linear);
		display: block;
	}

	&.laying-on {
		@include animation(fadeOut-l, 0.4s, linear);
		//@include a-delay(0.1s);
		position: absolute;
		top: 0;
		left: 0;
		display: block;

		&.active {
			@include animation(fadeIn-l, 0.3s, linear);
		}
	}
}

.scheme-desc-inner {
	//@include vertCenter;
	position: relative;
	top: 240px;
}

@keyframes textAnimate {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes textAnimateOut {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}

	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}

@-webkit-keyframes textAnimate {
	0% {
		-webkit-transform: translateY(10px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes textAnimateOut {
	0% {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(10px);
		opacity: 0;
	}
}

.scheme-nav {
	display: none;
	height: 50px;
	margin-bottom: 20px;

	.btn-nav-left {
		top: 0;
		left: 250px;
	}

	.btn-nav-right {
		top: 0;
		left: 315px;
	}

	.points {

		.point {
			left: 0;
			top: 0;

			.point-name {

				.point-ico {
					width: 65px;
				}

				span {
					left: 65px;
				}
			}
		}
	}
}



@media screen and (min-width: 2000px), screen and (max-width: 767px){
	
	.page-adv .figures {
		display: none;
	}
}

@media (min-width: 1025px) and (max-height: 820px){

	.object-scheme-wrap {
		@include transform(translateY(0) translateX(-50%));
		top: -40px;
		left: 45%;	

		.point:nth-child(2) {
			left: 554px;
			top: 270px;
		}

		.point:nth-child(3) {
			left: 250px;
		}

		.point:nth-child(4) {
			top: 385px;
			left: 513px;
		}

		.point:nth-child(5) {
			top: 525px;
		}
	}

	.scheme-desc-inner {
		@include transform(translateY(0));
		top: 200px;
	}

	.scheme-desc .title-1 {
		font-size: 40px;
	}

	.object-scheme {
		@include transform(scale(0.8), taranslateZ(0));
		backface-visibility: hidden;
	}	

	
}

@media (min-width: 1025px) and (max-height: 650px){

	.object-scheme-wrap {
		top: -55px;
	}

	.scheme-nav {
		display: block;
	}

	.scheme-desc-inner {
		top: 50px;
	}

	.object-scheme-wrap .points, 
	.page-adv .figures {
		display: none;		
	}
}

@include mid {

	.object-scheme-wrap .point:nth-child(2) {

		.point-name {
			left: 123px;
		}

		.point-line span {
			left: 84px;
			width: 60px;
		}
	}
}




@include tablet {

	.scheme-nav {
		display: block;
	}

	.object-scheme {
		@include transform(scale(0.7));
	}

	// .points {
		

	// 	.point, .point .point-name {
	// 		left: 0 !important;
	// 		top: 0 !important; 
	// 	} 

	// 	.point {

	// 		.point-btn, .point-line {
	// 			display: none;
	// 		}
	// 	}
	// }

	.scheme-desc-wrap {
		width: 45%;
	}

	.object-scheme-block {
		width: 55%;

		.points {
			display: none;
		}
	}

	.scheme-desc-inner {
		@include transform(translateY(0));
		top: 200px;
	}

	.scheme-desc .title-1 {
		font-size: 35px;
		line-height: 43px;
	}

	@media (max-height: 720px){

		.page-adv .footer {
			display: none;
		}
	}

	@include port {

		.scheme-desc-inner {
			top: 250px;

			@media (min-height: 1050px){
				top: 350px;
			}
		}
	}
}

// @media (max-width: 1024px) and (min-width: 768px){

// 	.object-scheme-block, .object-scheme-wrap {
// 		position: static !important;
// 	}

// 	.object-scheme-wrap {
// 		@include transform(translateY(0));
// 		height: 100%;
// 		left: 0;
// 		top: 0;

// 		.points {
// 			position: fixed;
// 			left: 0;
// 			top: 200px;
// 		}
// 	}

// 	div.object-scheme {
// 		@include transform(scale(0.7));
// 		left: 50%;
// 		top: 50%;
// 		height: 100%;	

		

// 		img {
// 			@include Center;
// 		}
// 	}


// }

@media (max-width: 1024px) and (min-width: 767px) and (max-height: 650px){

	.scheme-desc-inner {
		top: 55px;
	}
}

@include mobile {

	.page-adv {
		background: url(../images/scheme-img-mob.png) no-repeat 90% 412px;
	}
	
	.object-scheme-block {
		height: 55px;
	}

	.object-scheme-wrap {
		@include transform(translateY(0) translateX(0));
		top: 0;
		left: 0;
	}

	.object-scheme {
		display: none;
	}

	.scheme-nav {

		.btn-nav-left {
			right: 61px;
			left: auto;
		}

		.btn-nav-right {
			right: 0;
			left: auto;
		}
	}

	.points {
		display: block;
	}

	.scheme-desc-inner {
		top: 0;
		padding-bottom: 20px;
	}

	.scheme-desc .title-1 {
		font-size: 32px;
		line-height: 41px;
	}

	.point {
		left: 0 !important;
		top: 0 !important;

		&:nth-child(4) .point-ico {
			@include transform(translateX(0));
		}

		.point-name {

			span {
				letter-spacing: 0;
			}
		}

		.point-line, .point-btn {
			display: none;
		}
	}

	@include land {

		.page-adv {
			background: none;
		}
	}
}

@media (max-width: 374px) {

	.scheme-desc .title-1 {
		font-size: 25px;
		line-height: 35px;
	}

	.page-adv {
		background: none;
	}
}