
// Figures Style
.figures {
    @include transition(all, 0.3s, ease-out);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 998;

    li {
        @include transition(all, 0.75s, cubic-bezier(.11,0,.45,1));
        position: absolute;
    }
}

.triangles {

    li {
        @include tr-top(18px, 32px, 18px, #f99e76);
        @include rot(15deg);
    }

    li:nth-child(2), li:nth-child(4) {
        border-color:  transparent transparent #faad93 transparent;
    }

    li:nth-child(5) {
        @include rot(195deg);
        border-color:  transparent transparent #fca897 transparent;
    }
}

.cubes {
    @include transition(all, 0.6s, ease-out);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 997;

    li {
        @include transition(all, 1.1s, ease-in-out);
        position: absolute;
        width: 30px;
        height: 34.5px;
        background-size: 100% auto;
        
        // div {
        //     position: relative;
        //     width: 22px;
        //     height: 22px;
        //     transform-style: preserve-3d;
        //     perspective: 1000px;
        //     overflow: visible;
        //     transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
        // }
        
        // span {
        //     perspective: 1000px;
        //     position: absolute;
        //     display: block;
        //     top: 0;
        //     left: 0;
        //     width: 20px;
        //     height: 20px;
        //     backface-visibility: hidden;
        // }

        // .face-1 {
        //     transform: rotate3d(1,0,0,90deg) translate3d(0px,0px,10px) scaleZ(1);
        // }

        // .face-2 {
        //     transform: translate3d(0px,0px,10px);
        // }

        // .face-3 {
        //     transform: rotate3d(0,1,0,90deg) translate3d(0px,0px,10px) scaleZ(1);
        // }
    }
}

ul.cubes-1 {

    li:nth-child(1) {
        background: url(../images/cube-11.svg) no-repeat 0 0;
    }

    li:nth-child(2) {
        background: url(../images/cube-13.svg) no-repeat 0 0;
    }

    li:nth-child(3) {
        background: url(../images/cube-12.svg) no-repeat 0 0;
    }

    li:nth-child(4) {
        display: none;
        background: url(../images/cube-14.svg) no-repeat 0 0;
    }

    li:nth-child(5) {
        background: url(../images/cube-12.svg) no-repeat 0 0;
    }

    li:nth-child(6) {
        background: url(../images/cube-11.svg) no-repeat 0 0;
    }

    li:nth-child(7) {
        background: url(../images/cube-14.svg) no-repeat 0 0;
    }

    li:nth-child(8) {
        background: url(../images/cube-13.svg) no-repeat 0 0;
    }
}

ul.cubes-2 {

    li:nth-child(1) {
        background: url(../images/cube-21.svg) no-repeat 0 0;
    }

    li:nth-child(2) {
        background: url(../images/cube-23.svg) no-repeat 0 0;
    }

    li:nth-child(3) {
        background: url(../images/cube-23.svg) no-repeat 0 0;
    }

    li:nth-child(4) {
        background: url(../images/cube-24.svg) no-repeat 0 0;
    }

    li:nth-child(5) {
        background: url(../images/cube-22.svg) no-repeat 0 0;
    }

    li:nth-child(5) {
        background: url(../images/cube-21.svg) no-repeat 0 0;
    }
}

// Cubes Assortment
.page-assort {
    
    .figures li {
        @include transform(translateX(230px));
    }
}

.figures {

    li:nth-child(2) { @include delay(0.1s);  }
    li:nth-child(3) { @include delay(0.2s);  }
    li:nth-child(4) { @include delay(0.15s); }
    li:nth-child(5) { @include delay(0.25s); }
    li:nth-child(6) { @include delay(0.3s);  }
    li:nth-child(7) { @include delay(0.27s); }
    li:nth-child(8) { @include delay(0.35s); }

    &.show {
        li              { @include transform(translateX(0)); }
        li:nth-child(1) { @include delay(0.5s);  }
        li:nth-child(2) { @include delay(0.6s);  }
        li:nth-child(3) { @include delay(0.7s);  }
        li:nth-child(4) { @include delay(0.65s); }
        li:nth-child(5) { @include delay(0.75s); }
        li:nth-child(6) { @include delay(0.8s);  }
        li:nth-child(7) { @include delay(0.77s); }
        li:nth-child(8) { @include delay(0.85s); }
    }
}

.figures-1 {

    li:nth-child(1) {
        right: 192px;
        bottom: 277px;
    }

    li:nth-child(2) {
        right: 115px;
        bottom: 301px;
    }

    li:nth-child(3) {
        right: 42px;
        bottom: 310px;
    }

    li:nth-child(4){
        right: 20px;
        bottom: 264px;
    }

    li:nth-child(5) {
        right: 110px;
        bottom: 237px;
    }

    li:nth-child(6) {
        right: 40px;
        bottom: 236px;
    }

    li:nth-child(7) {
        right: 100px;
        bottom: 160px;
    }

    li:nth-child(8) {
        right: 20px;
        bottom: 147px;
    }
}

.figures-2 {

    li:nth-child(1) { bottom: 280px; right: 180px; }
    li:nth-child(2) { bottom: 263px; right: 100px; }
    li:nth-child(3) { bottom: 215px; right: 150px; }
    li:nth-child(4) { bottom: 194px; right: 83px;  }
    li:nth-child(5) { bottom: 240px; right: 30px;  }
    li:nth-child(6) { bottom: 186px; right: 5px;  }
}

.figures-3 {

    li:nth-child(1) { bottom: 250px; right: 200px; }
    li:nth-child(2) { bottom: 280px; right: 140px; }
    li:nth-child(3) { bottom: 229px; right: 75px;  }
    li:nth-child(4) { bottom: 285px; right: 20px;  }
    li:nth-child(5) { bottom: 180px; right: 130px; }
    li:nth-child(6) { bottom: 160px; right: 20px;  }
    li:nth-child(7) { bottom: 205px; right: -10px; }
}

.figures-4 {

    li:nth-child(1) { bottom: 240px; right: 195px; }
    li:nth-child(2) { bottom: 215px; right: 160px; }
    li:nth-child(3) { bottom: 243px; right: 75px;  }
    li:nth-child(4) { bottom: 220px; right: 10px;  }
    li:nth-child(5) { bottom: 180px; right: 100px; }
    li:nth-child(6) { bottom: 145px; right: 60px;  }
    li:nth-child(7) { bottom: 160px; right: -10px; }
}

.figures-5 {

    li:nth-child(1) { bottom: 240px; right: 180px; }
    li:nth-child(2) { bottom: 195px; right: 120px; }
    li:nth-child(3) { bottom: 243px; right: 75px;  }
    li:nth-child(4) { bottom: 190px; right: 30px;  }
    li:nth-child(5) { bottom: 125px; right: 45px;  }
    li:nth-child(6) { bottom: 145px; right: -20px; }
}

.figures-6 {

    li:nth-child(1) { bottom: 242px; right: 170px;  }
    li:nth-child(2) { bottom: 248px; right: 90px; }
    li:nth-child(3) { bottom: 220px; right: 20px; }
    li:nth-child(4) { bottom: 165px; right: 80px; }
    li:nth-child(5) { bottom: 140px; right: 10px; }
}

@include tablet {

    .figures-1 {
        bottom: -136px;

        li:nth-child(7), li:nth-child(8) {
            display: none;
        }
    }

    .figures-2 { 
        bottom: -80px; 
    }

    .figures-3 { 
        bottom: -80px; 

        li:nth-child(1) { bottom: 230px; }
        li:nth-child(2) { bottom: 265px; }
        li:nth-child(6) { display: none; }
        
        &.show {

            li:nth-child(1) { right: 170px; }
            li:nth-child(2) { right: 110px; }
        }
        
    }

    .figures-4 { 
        bottom: -70px;
        right: -55px;

        li:nth-child(6) { 
            bottom: 155px;
        }

        &.show {

           li:nth-child(6) {
                right: 40px;
           }     
        }
    }

    .figures-5 { 
        right: -35px;
        bottom: -80px; 

        li:nth-child(5) { display: none; }
    }

    .figures-6 { 
        bottom: -80px;

        li:nth-child(4) { bottom: 190px; }
        li:nth-child(5) { display: none; }
    }
}

// Cubes Color
.figures-1, .cubes-b {

    li span {
        @include transition(all, 0.4s, linear);
        @include delay(0.6s);
    }

    li:nth-child(1) {
        
        .face-1 {
            background-color: #b1cbe6;
        }

        .face-2 {
            background-color: #81b2e3;
        }

        .face-3 {
            background-color: #88b6e6;
        }
    }

    li:nth-child(2), li:nth-child(4) {
        
        .face-1 {
            background-color: #b8cfec;
        }

        .face-2 {
            background-color: #b8cfec;
        }

        .face-3 {
            background-color: #edf0f4;
        }
    }

    li:nth-child(3), li:nth-child(5), li:nth-child(7) {
        
        .face-1 {
            background-color: #b1cbe6;
        }

        .face-2 {
            background-color: #81b2e3;
        }

        .face-3 {
            background-color: #88b6e6;
        }
    }

    li:nth-child(6), li:nth-child(8) {

        .face-1 {
            background-color: #88b6e6;
        }

        .face-2 {
            background-color: #b1cbe6;
        }

        .face-3 {
            background-color: #b8cfec;
        }
    }
}


.cubes-f {

    li:nth-child(1), li:nth-child(5) {
        
        .face-1 {
            background-color: #c39fca;
        }

        .face-2 {
            background-color: #a971b0;
        }

        .face-3 {
            background-color: #e1d3e1;
        }
    }

    li:nth-child(2), li:nth-child(6) {
        
        .face-1 {
            background-color: #a971b0;
        }

        .face-2 {
            background-color: #9b5ba4;
        }

        .face-3 {
            background-color: #c39fca;
        }
    }

    li:nth-child(3), li:nth-child(4) {
        
        .face-1 {
            background-color: #e0d1e3;
        }

        .face-2 {
            background-color: #c39dcb;
        }

        .face-3 {
            background-color: #cfacd3;
        }
    }
}

// Style 3
// .page-style-3 {

//     li:nth-child(1){
        
//         .face-1 {
//             background-color: #b1cbe6;
//         }

//         .face-2 {
//             background-color: #81b2e3;
//         }

//         .face-3 {
//             background-color: #88b6e6;
//         }
//     }

//     li:nth-child(2), li:nth-child(4) {
        
//         .face-1 {
//             background-color: #b8cfec;
//         }

//         .face-2 {
//             background-color: #b8cfec;
//         }

//         .face-3 {
//             background-color: #edf0f4;
//         }
//     }

//     li:nth-child(3), li:nth-child(5), li:nth-child(7) {
        
//         .face-1 {
//             background-color: #b1cbe6;
//         }

//         .face-2 {
//             background-color: #81b2e3;
//         }

//         .face-3 {
//             background-color: #88b6e6;
//         }
//     }

//     li:nth-child(6), li:nth-child(8) {

//         .face-1 {
//             background-color: #88b6e6;
//         }

//         .face-2 {
//             background-color: #b1cbe6;
//         }

//         .face-3 {
//             background-color: #b8cfec;
//         }
//     }
// }

// // Style 4
// .page-style-4 {

//     li:nth-child(1){
        
//         .face-1 {
//             background-color: #c39fca;
//         }

//         .face-2 {
//             background-color: #a971b0;
//         }

//         .face-3 {
//             background-color: #e1d3e1;
//         }
//     }

//     li:nth-child(2), li:nth-child(4) {
        
//         .face-1 {
//             background-color: #a971b0;
//         }

//         .face-2 {
//             background-color: #9b5ba4;
//         }

//         .face-3 {
//             background-color: #c39fca;
//         }
//     }

//     li:nth-child(3), li:nth-child(5), li:nth-child(7) {
        
//         .face-1 {
//             background-color: #a971b0;
//         }

//         .face-2 {
//             background-color: #9b5ba4;
//         }

//         .face-3 {
//             background-color: #c39fca;
//         }
//     }

//     li:nth-child(6), li:nth-child(8) {

//         .face-1 {
//             background-color: #e1d3e1;
//         }

//         .face-2 {
//             background-color: #e1d3e1;
//         }

//         .face-3 {
//             background-color: #ceafd3;
//         }
//     }
// }

// Slider Arrows
$color-2: #bb72b9;
$color-3: #d2aaa1;
$color-4: #bb72b9;
$color-5: #5e5e96;
$color-6: #dda584;

$btn-col-delay: 0.35s;

.assort-slider-wrap .slick-arrow.slick-next:before, 
.assort-slider-wrap .slick-arrow.slick-prev:before,
.assort-slider-wrap .slick-arrow.slick-next:after, 
.assort-slider-wrap .slick-arrow.slick-prev:after {
    transition: all 0.5s ease-out 0s,  background 0.4s linear $btn-col-delay, border-color 0.4s linear $btn-col-delay;
    -webkit-transition: all 0.5s ease-out 0s,  background 0.4s linear $btn-col-delay, border-color 0.4s linear $btn-col-delay;
    -ms-transition: all 0.5s ease-out 0s,  background 0.4s linear $btn-col-delay, border-color 0.4s linear $btn-col-delay;

    @include mobile {
        @include delay(0s);
    }
}

.assort-bg-list {

    &.bg-1 {
        background: rgb(135,181,225);
        background-image: -webkit-linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
        background-image: linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
    }

    &.bg-2 {
        background: rgb(180,175,223);
        background-image: -webkit-linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
        background-image: linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
    }

    &.bg-3 {
        background: rgb(175,136,147);
        background-image: -webkit-linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
        background-image: linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
    }

    &.bg-4 {
        background: rgb(155,100,166);
        background-image: -webkit-linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
        background-image: linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
    }

    &.bg-5 {
        background: rgb(75,75,129);
        background-image: -webkit-linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
        background-image: linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
    }

    &.bg-6 {
        background-color: rgb(237,158,111);
        background-image: -webkit-linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
        background-image: linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
    }
}

.page-style-2 {

    .assort-slider-wrap .slick-arrow.slick-next:before, 
    .assort-slider-wrap .slick-arrow.slick-prev:before {
        background: $color-2;
    }

    .assort-slider-wrap .slick-arrow.slick-next:after, 
    .assort-slider-wrap .slick-arrow.slick-prev:after {
        border-color: $color-2;
    } 
}

.page-style-3 {

    .assort-slider-wrap .slick-arrow.slick-next:before, 
    .assort-slider-wrap .slick-arrow.slick-prev:before {
        background: $color-3;
    }

    .assort-slider-wrap .slick-arrow.slick-next:after, 
    .assort-slider-wrap .slick-arrow.slick-prev:after {
        border-color: $color-3;
    } 
}

.page-style-4 {

    .assort-slider-wrap .slick-arrow.slick-next:before, 
    .assort-slider-wrap .slick-arrow.slick-prev:before {
        background: $color-4;
    }

    .assort-slider-wrap .slick-arrow.slick-next:after, 
    .assort-slider-wrap .slick-arrow.slick-prev:after {
        border-color: $color-4;
    } 
}

.page-style-5 {

    .assort-slider-wrap .slick-arrow.slick-next:before, 
    .assort-slider-wrap .slick-arrow.slick-prev:before {
        background: $color-5;
    }

    .assort-slider-wrap .slick-arrow.slick-next:after, 
    .assort-slider-wrap .slick-arrow.slick-prev:after {
        border-color: $color-5;
    } 
}

.page-style-6 {

    .assort-slider-wrap .slick-arrow.slick-next:before, 
    .assort-slider-wrap .slick-arrow.slick-prev:before {
        background: $color-6;
    }

    .assort-slider-wrap .slick-arrow.slick-next:after, 
    .assort-slider-wrap .slick-arrow.slick-prev:after {
        border-color: $color-6;
    } 
}

.assort-bg-list {

    li:nth-child(1) {
        background:rgb(135,181,225);
        background-image: -webkit-linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
        background-image: linear-gradient( 66deg, rgb(135,181,225) 0%, rgb(162,201,238) 81%, rgb(189,221,251) 100%);
    }

    li:nth-child(2) {
        background: rgb(180,175,223);
        background-image: -webkit-linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
        background-image: linear-gradient( 66deg, rgb(180,175,223) 0%, rgb(203,158,211) 100%);
    }

    li:nth-child(3) {
        background: rgb(175,136,147);
        background-image: -webkit-linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
        background-image: linear-gradient( 66deg, rgb(175,136,147) 0%, rgb(239,206,191) 100%);
    }

    li:nth-child(4) {
        background: rgb(155,100,166);
        background-image: -webkit-linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
        background-image: linear-gradient( 66deg, rgb(155,100,166) 0%, rgb(129,75,139) 49%, rgb(103,50,111) 100%);
    }

    li:nth-child(5) {
        background: rgb(75,75,129);
        background-image: -webkit-linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
        background-image: linear-gradient( 66deg, rgb(75,75,129) 0%, rgb(88,88,143) 49%, rgb(101,100,157) 100%);
    }

    li:nth-child(6) {
        background-color: rgb(237,158,111);
        background-image: -webkit-linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
        background-image: -ms-linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
        background-image: linear-gradient( 66deg, rgb(237,158,111) 0%, rgb(240,173,134) 49%, rgb(243,188,156) 100%);
    }
}
