

/* --------------------
    Feedback
    ------------------- */  

$heightPanel: 90px;

.page-feedback {

    ul.tabs-panel {
        display: none;
    }

    @include mobile {

        ul.tabs-panel {
            display: inline-block;
            background-color: #fff;
        }
    }
}

.feedback-column {

    &.to-left {
        width: 57%;

        .feedback-scroll, .feedback-bottom { 
            border-right: 1px solid $borColor;
            //border-left: 1px solid $borColor;
        }  

        .feedback-bottom, .feedback-title {
            padding-left: 20px;
        }
    }

    &.to-right {
        width: 43%;

        .btn-wrap {
            padding-left: 40px;
        }

        .feedback-bottom, .feedback-title {
            padding-left: 40px;
        }
    }

    .btn-wrap {
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 35px;
    }

    .feedback-scroll {
        height: 290px;
        height: calc(100vh - #{$header-height} - #{$heightPanel});
        height: -webkit-calc(100vh - #{$header-height} - #{$heightPanel});
    }

    @media (min-width: 1025px) and (max-height: 601px){

        .feedback-scroll {
            height: 292px;
        }
    }
}

.feedback-title {
    height: $heightPanel;
    padding-top: 28px;

    .title-1 {
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 0;
    }
}

.feedback-scroll {
    border-top: 1px solid $borColor;
    
    section {
        position: relative;

        &:before, &:after {
            @extend .ps;
        }
    }

    .scroll-block {
        cursor: grab;
        height: 100%;

        @include ie10 {
            cursor: url(../images/grab.cur), move;
        }

        .ps-scrollbar-y-rail {
            opacity: 0;
        }
    }
}

/* styles for dragscroll */
.dragscroll {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.dragscroll.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}


.feedback-bottom {
    padding-top: 24px;
    border-top: 1px solid $borColor;
    height: $heightPanel;
}

.answer-item {
    border-bottom: 1px solid $borColor;

    &:last-child {
        border-bottom: none;
    }

    &.show .answer-head .point-btn.plus {

        .point-btn-bg:before {
            top: 0;
        }

        i {
            @include transform(rotate(225deg));
            transition: transform 0.5s ease-out;

            &:before, &:after {
                background-color: #fff;
            }
        }
    }

    .answer-head {
        padding-left: 108px;
        padding-right: 15px;
        height: 87px;
        position: relative;

        .point-btn, span {
            @include vertCenter;
        }

        .point-btn {
            //@include trans(0.5s);
            transition: box-shadow 0.5s ease-out, background-image 0.5s ease-out;
            @include border-rad(35px);
            position: absolute;
            left: 20px;
            background-image: -webkit-linear-gradient( -90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgb(255,255,255) 100%);
            background-image: -ms-linear-gradient( -90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgb(255,255,255) 100%);
            background-image: linear-gradient( -90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgb(255,255,255) 100%);
            -webkit-box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.35);
            box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.35);

            // &:before, &:after {
            //     background-color: $textCol;
            // }
        }

        span {
            transition: color 0.5s ease-out;
            display: block;
            font-size: 13px;
            line-height: 18px;
            color: #364e6e;
            letter-spacing: 0.3px;

            i {
                transition: transform 0.5s ease-out;
                display: block;
                font-style: normal;
            }
        }
    }

    .answer-body {
        @include transition(max-height, 0.3s, ease-out);
        max-height: 0;
        overflow: hidden;

        p {
            color: $textCol;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .answer-body-inner {
        padding: 15px 10px 20px 20px;
        border-top: 1px solid $borColor;
    }
}

.no-touchevents .answer-head {

    .point-btn {

        &.plus:not(.active):hover i {
            @include transform(rotate(225deg));
            transition: transform 0.5s ease-out, color 0.5s ease-out;
        }

        &:hover {
            -webkit-box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.85);
            box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.85);
        }
    }

    &:hover span {
        color: #828ea0;
    }
}

.feedback-column.to-right {

    .feedback-scroll {
        position: relative;
        padding-bottom: 78px;
    }
}

.feedback-filter-wrap {
    padding-top: 15px;
    height: 78px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 1px solid $borColor;
}

.feedback-filter {
    position: relative;
    margin: 0 2%;

    section {
        margin: 0 !important;

        > div {
            //flex: none;

            // a {
            //     padding: 0 23px;
            // }
        }
    }

    @media (max-width: 850px) and (orientation: portrait){
        margin: 0;

        section > div a {
            padding: 0 12px !important;
        }    
    }
}

ul.feedback-filter {
    @include flex(space-between);
    padding: 0 5%;
    text-align: center;

    li {
        @extend .btn-style;
        @extend .text-min;
        cursor: pointer;
        background: none;
        white-space: nowrap;

        &.active {
            background-image: linear-gradient( -180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 19%, rgb(255,255,255) 100%);
            box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.35);
            -webkit-box-shadow: 0px 8px 7px 0px rgba(235, 238, 241, 0.35);
        }
    }
}

.no-touchevents ul.feedback-filter li:hover {
    color: #8db9e4;
}

.feedback-item {
    opacity: 0;
    display: none;
    padding: 34px 0 10px 40px;
    border-bottom: 1px solid $borColor;

    &.show {
        display: block;
        opacity: 1;
    }

    &:last-child {
        border-bottom: none;
    }

    .avatar {
        @include border-rad(35px);
        width: 106px;
        height: 76px;
        overflow: hidden;
        margin-bottom: 25px;

        img {
            max-width: 100%;
        }
    }

    .feedback-name {
        @extend .text-min;
        margin-bottom: 12px;
    }

    .feedback-status {
        position: relative;
        color: $textCol;
        padding-bottom: 22px;
        margin-bottom: 18px;

        &:after {
            @extend .ps;
            width: 35px;
            height: 3px;
            bottom: 0;
            left: 0;
            top: auto;
            background-color: #ced4de;
        }
    }
}

@media screen and (max-height: 700px) and (min-width: 1025px){

    .feedback-title {
        height: 70px;
        padding-top: 15px;

        .title-1 {
            font-size: 29px;
        }
    }

    .feedback-column .feedback-scroll {
        height: 290px;
        height: calc(100vh - (#{$header-height} - 30px) - 70px);
        height: -webkit-calc(100vh - (#{$header-height} - 30px) - 70px);
    }
}

@media screen and (max-height: 600px) and (min-width: 1025px){

    .feedback-column .feedback-scroll {
        height: 290px;
        height: calc(600px - (#{$header-height} - 30px) - 70px);
        height: -webkit-calc(600px - (#{$header-height} - 30px) - 70px);
    }
}

@include laptop {

    ul.feedback-filter {
        padding: 0 2%;

        li {
            padding: 0 19px;
        }
    }
}

@include tablet {

    .feedback-column {

        .feedback-scroll {
            height: 290px;
            height: calc(100vh - #{$header-height-tbl} - #{$heightPanel});
            height: -webkit-calc(100vh - #{$header-height-tbl} - #{$heightPanel});
        }
    }

    .feedback-title .title-1 {
        font-size: 30px;
        line-height: 38px;
    }

    .feedback-bottom {

        .btn-wrap > span {
            display: none;
        }
    }

    ul.feedback-filter {
        padding: 0 2%;

        li {
            flex-grow: 1;
            padding: 0 5px;
            font-size: 9px;
            color: #828ea0;

            &.active {
                color: $textCol;
                //background: none;
            }
        }
    }

    @include port {

        ul.feedback-filter {
            //padding: 0 2%;
            
            li {
                padding: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 767px), 
       screen and (max-width: 815px) and (orientation: landscape){

    .cursor-target {
        text-align: center;
    }

    .tab-pane.feedback-column {
        @include animation(fadeOut, 0.1s, linear);
        display: none;
        text-align: left;

        &.active {
            @include animation(fadeIn, 0.1s, linear);
            display: block;
        }
    }

    .page-feedback  {

        .tabs-panel {
            margin-bottom: 30px;
        }

        .socket {
            padding-top: 45px;
        }
    }

    .answer-item, .feedback-item {
        margin: 0 -17px;
        border-top: 1px solid $borColor;
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid $borColor;
        }
    }

    .answer-item {
        padding: 0 17px;

        .answer-head {
            padding-left: 83px;

            .point-btn {
                left: 0;
            }
        }

        .answer-body {
            margin: 0 -17px;
        }
    }

    .feedback-title {
        display: none;
    }

    .feedback-column {

        .feedback-scroll {
            height: auto;
            padding-bottom: 0 !important;

            .scroll-block {
                overflow: visible;
            }
        }

        .btn-wrap {
            padding-left: 0 !important;
        }

        .feedback-scroll, .feedback-bottom {
            border: none !important;
        }
    }

    .feedback-bottom {
        height: auto;
        padding:40px 0 20px !important;

        .btn-wrap > span {
            display: block;
        }
    }

    .feedback-item {
        padding: 18px 17px 10px;
    }

    .feedback-filter-wrap {
        display: none;
    }
}

// Cursor Custom
.cursor-move {
    position: fixed;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #a6ccf0;
    transform: scale(0);
    z-index: 99999;
    font-family: $fontMed;
    transition: transform 0.27s linear;

    &:before, &:after {
        @extend .ps;
        position: absolute;
        left: 50%;
        top: auto;
        margin-left: -3px;
        border-width: 2px !important;
    }

    &:before {
        @include st(6px, #fff, -45deg);
        top: 11px;
    }

    &:after {
        @include st(6px, #fff, 135deg);  
        bottom: 11px; 
    }

    .touchevents & {
        display: none !important;
    }

    span {
        display: block;
        text-align: center;
        line-height: 60px;
        font-size: 8px;
        letter-spacing: 0.45px;
        color: #fff;
        transition: opacity 0.2s;
        text-transform: uppercase;
    }

    &.show {
        transform: scale(1);
    }

    &.drag {
        transform: scale(0.23);

        &:before, &:after, span {
            opacity: 0;
        }
    }
}

.no-touchevents .cursor-target.hover {
    cursor: none !important;

    .scroll-block {
        cursor: none !important;
    }
}

@include ie10 {
    .no-touchevents .cursor-target.hover {
        cursor: move !important;

        .scroll-block {
            cursor: move !important;
        }
    }
}

@include edge {
    .no-touchevents .cursor-target.hover {
        cursor: default !important;

        .scroll-block {
            cursor: default !important;
        }
    }
}

// .cursor-target:hover {
//     cursor: url(../images/marker.png), auto !important;

//     .scroll-block {
//         cursor: url(../images/marker.png), auto !important;
//     }

//     // .dragging.scroll-block {
//     //     cursor: url(../images/marker-min.png), auto !important;
//     // }
// }

// @keyframes —ÅursorDown {
//     from {
//         cursor: url(../images/marker.png), auto;
//     }

//     to {
//         cursor: url(../images/marker-min.png), auto;
//     }
// }