
/* --------------------
    Map
    ------------------- */  

.map-block, #map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}    

.map-column {
    position: absolute;
    z-index: 998;
    width: 265px;
    top: 127px;
    padding-top: 25px;
    left: calc( (100% - 1500px) / 2);

    @media (min-width: 1025px) and (max-height: 700px){
        top: 98px;
    }

    @include mid {
        left: calc( (100% - 1220px) / 2);
    }

    @include laptop {
        left: calc( (100% - 1024px) / 2);
    }

    @include tablet {
        top: 116px;
        left: 25px;
        width: calc(100% - 50px);
    }

    @include mobile {
        padding-top: 10px;
        top: 98px;
    }
}

.ico-loc {
    position: absolute;
    top: 26px;
    left: 17px;
    width: 17px;
    height: 17px;
    z-index: 100;
    cursor: pointer;
    background: url(../images/ico-loc.svg) no-repeat 0 0;
}

.loc-search {
    @extend .btn-style;
    @include border-rad(40px);
    position: relative;
    display: block;
    padding: 0 65px 0 43px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 15px;
    cursor: pointer;

    input[type="text"] {
        @extend .text-min;
        width: 100%;
        border: none;
        background: none;
        color: $textCol;

        @include ph {
            color: $textCol;
        }
    }

    button[type="submit"] {
        @include vertCenter;
        position: absolute;
        right: 30px;
        width: 12px;
        height: 12px;
        background: url(../images/ico-search.svg) no-repeat 0 0;
    }
}

.select {
    @include border-rad(40px);
    position: relative;
    z-index: 990;
    width: 100%;
    height: 70px;
    background-color: #fff;
    padding: 0;
    margin-bottom: 15px;

    select {
        display: none;
    }
}

.selectize-control, .selectize-input {
    height: 100%;
}

.selectize-control {
    position: relative;
}

.selectize-input {
    @extend .btn-style;
    @extend .no-select;
    @include border-rad(40px);
    width: 100%;
    height: 70px;
    padding: 0;
    line-height: 70px;
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;

    .item {
        @extend .text-min;
        height: 100%; 
        padding: 0 65px 0 43px;

        &:after {
            @include tr-bottom(4px,4px,4px, $textCol);
            content:"";
            position: absolute;
            top: 50%;
            right: 32px;
            margin-top: -2px;
        }
    }

    input {
        display: none;
    }

    &.dropdown-active {
        @include border-rad-top(35px);
        border-bottom: 1px solid #ebedf0;
        
        + .selectize-dropdown {
            @include border-rad-btm(35px);
            position: absolute;
            top: 70px !important;
            background-color: #fff;
            max-height: 240px;
            overflow: hidden;
            box-shadow: 0px 15px 20px 1px rgba(143, 159, 174, 0.17);
            -webkit-box-shadow: 0px 15px 20px 1px rgba(143, 159, 174, 0.17);
            
            .option {
                @extend .transDef;
                @extend .text-min;
                padding-left: 20px;
                height: 60px;
                line-height: 60px;
                white-space: nowrap;
                cursor: pointer;
                border-top: 1px solid #ebedf0;

                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    border-top: none;
                }

                &:hover {
                    background-color: #ebedf0;
                }
            }

            &.ps-container > .ps-scrollbar-y-rail {
                right: 0 !important;

                .ps-scrollbar-y {
                    width: 5px;
                    background-color: $textCol;
                }
            }
        }
    }
}

.partners {
    @include border-rad(10px);
    background-color: #fff;
    box-shadow: 0px 22px 40.42px 2.58px rgba(143, 159, 174, 0.17);
    -webkit-box-shadow: 0px 22px 40.42px 2.58px rgba(143, 159, 174, 0.17);

    li {
        border-bottom: 1px solid $borColor;

        &:last-child {
            border: none;
        }

        a, .title-3 {
            position: relative;
            display: block;
            height: 60px;
            padding-left: 35px;

            img {
                @include vertCenter;
                position: absolute;
            }
        }

        .title-3 {
            line-height: 60px;
            white-space: nowrap;
            margin-bottom: 0;
        }
    }

    @media (max-width: 1024px) and (orientation: landscape){
        display: none;
    }
}

@media (min-width: 1025px) and (max-height: 650px){
    
    .map-column {
        padding-top: 10px;
    }

    .loc-search, .select {
        margin-bottom: 10px;
    }

    .partners {

        li {
            a, .title-3 {
                height: 50px;
            }

            .title-3 {
                line-height: 50px;
            }
        }
    }
}

@include mobile {

    .partners {
        display: none;
    }

    .loc-search, .select {
        margin-bottom: 10px;
    }
}

/* Google Map Butons Styling */
.gm-style-mtc, .gm-style-cc, .gm-svpc, .gm-fullscreen-control {
    display: none !important;
}

.gmnoprint > img {
    width: 33px !important;
    height: 45px !important;
}

.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom: 170px !important;
    right: 66px !important;

    > .gmnoprint > div {
        width: 52px !important;
        background: none !important;
        box-shadow: none !important;

        > div {
            display: none !important;
        }
        
        > button {
            @include border-rad(50%);
            transition: box-shadow 0.4s linear;
            width: 52px !important;
            height: 52px !important;
            background-color: #fff !important;
            box-shadow: 0px 16px 33px 2.1px rgba(0, 0, 0, 0.1) !important;

            &:hover {
                box-shadow: 0px 20px 45px 2.1px rgba(0, 0, 0, 0.2) !important;
            }

            &:before, &:after {
                @extend .ps;
                transform: translateX(-50%) translateY(-50%);
                top: 50%;
                left: 50%;
                background-color: #7caadb;
            }

            &:before {
                width: 2px;
                height: 10px;
            }

            &:after {
                width: 10px;
                height: 2px;
            }

            img {
                display: none;
            }

            &:first-child {
                margin-bottom: 9px !important;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }
}
